*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: absolute;
	background-color: lightblue;
}
header{
	background-color: white;
}

header .heding{
	color: red;
	text-align: left;
}
header .hp{
	color: blue;
	text-align: right;
}
.hp:hover{
	color: red;
}
.Box{
	width: 380px;
	height: 380px;
	margin: 6% auto;
	background-color: white;
	padding: 5px;
	position: relative;
	background-image: url(hp.jpg);
	overflow: hidden;  
	/*Imporatant Overflow when all coding done you must add this ok*/
}
.Button-box{
	width: 220px;
	height: 32px auto;
	position: relative;

}

.btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn{
	top:0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background-color: blue;
	border-radius: 30px;
	transition: .5s;
}
.share a{
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 1.4rem;
    letter-spacing: 10px;
    color: black;
}
.share a:hover{
    background:yellow;
    color:black;
}

.Input-group{
	top:120px;
	position: absolute;
	width: 280px;
	/*transition: .5s;*/ 
}
.input-field{
	width: 100%;
	padding :10px 0;
	margin: 5px 0;
	border-top: 0;
	border-left: 0;
	border-right:0;
	border-bottom: 1px solid red;
	outline: none;
	background: transparent;
}
.Submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	/*background-color: blue;*/
	border:0;
	outline: none;
	border-radius: 30px;
	color: white;
}
.Submit-btn:hover{
	background:yellow;
    color:white;
}
.checkbox{
	margin: 30px 10px 30px 0;

}
/*span{
	color: red;
	font-size: 15px;
	position: absolute;
}*/
#Login{
	left: 50px;
}
#Register{
	left: 450px;
}















